---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Massage Art Blog | Wellness Tips & Beauty Insights from Estepona."
  description="Explore massage tips, skincare advice, and wellness insights from Estepona’s trusted beauty and therapy studio."
  canonical="https://massageartestepona.com/blog"
/>

<Navbar />

<section class="bg-[#f6f5f1] py-16 px-6 text-center">
  <h1
    class="mt-10 text-3xl font-semibold tracking-wide text-gray-800 uppercase font-tenor"
  >
    Blog
  </h1>
</section>

<Services
  title="Massage in Estepona"
  description="The Ultimate Guide to Relaxation on the Costa del Sol"
  images="../images/training-828726_1280.jpg"
/>

<Footer />
