---
// Imports
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Services from "../components/Services.astro";
import Filter from "../components/Filter.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

// State
let activeFilter = "all";
---

<Layout
  title="Lymphatic Drainage Massage in Estepona | Sculpt, Detox & Rejuvenate"
  description="Discover expert lymphatic drainage massage treatments in Estepona. Reduce bloating, flush toxins, and sculpt your body with our signature techniques. Book now for radiant skin and revitalized wellness."
  canonical="https://massageartestepona.com/bodyrite-signature/"
/>

<Navbar />

<section class="bg-[#f6f5f1] py-16 px-6 text-center">
  <h1 class="text-3xl font-semibold mb-6 mt-6">
    Expert Lymphatic Drainage Massage in Estepona for Detox, Sculpting & Skin
    Renewal
  </h1>

  <p>
    Welcome to Massage Art Estepona, your destination for advanced lymphatic
    drainage massage and sculpting therapies.
  </p>
  <br />
  <p>
    Our Bodyrite Signature Sculpt&reg;️ treatments and Brazilian techniques are
    designed to stimulate the lymphatic system, reduce puffiness, eliminate
    toxins, and enhance circulation.
  </p>
  <br />
  <p>
    Whether you're seeking targeted contouring or full-body rejuvenation, our
    expert therapists offer salon and mobile sessions tailored to your needs.
    Experience visibly firmer skin, improved wellness, and a refreshed glow
    naturally.
  </p>
</section>

<div class="mt-6">
  <Filter active="bodyrite" />

  <div class="flex flex-wrap justify-center gap-6 px-4">
    <Services
      title="The Bodyrite Signature Sculpt®️ treatments"
      image="../images/fc336e32-e876-448a-95cb-71440c0ec39c.webp"
      description={`
        <p>Stimulates the lymphatic system to flush out toxins, excess fluids, and waste while using sculpting movements to reduce bloating, tighten skin, and break down fat.</p>
      `}
      pricesalon=""
      filter="bodyrite"
      active="bodyrite"
      hideSecondItem="hidden"
      hidePriceHome="hidden"
      hideFirstItem="hidden"
    />

    <Services
      title="Brazilian Lymphatic Drainage or Wood/Maderotherapy Massage"
      image="../images/ce6b5ef3-8cca-4a19-944f-18a681ad1273.webp"
      description={`<p>Time: 50 mins</p>
      </br>
        <p><strong>Area 1: Stomach, back & love handles</strong></p>
        </br>
        <p><strong>Salon:</strong></p>
        </br>
        <ul style=" list-style: disc;">
          <li>€90 Single session</li>
          <li>€425 Course of 5</li>
          <li>€800 Course of 10</li>
        </ul>
</br>
        <p><strong>Area 2: Back & front of legs including bum</strong></p>
        </br>
            <p><strong>Salon:</strong></p>
        </br>
        <ul style=" list-style: disc;">
          <li>€90Single session</li>
          <li>€425 Course of 5</li>
          <li>€800 Course of 10</li>
        </ul>
</br>
        <p><strong>Home:</strong></p>
        </br>
      <ul style=" list-style: disc;">
          <li>€120 Single session</li>
          <li>€550 Course of 5</li>
          <li>€1000 Course of 10</li>
        </ul>
</br>
        <p>Stimulates the lymphatic system to flush out toxins, excess fluids, and waste while using sculpting movements to reduce bloating, tighten skin, and break down fat.</p>
      `}
      pricehome="50€"
      pricesalon=""
      filter="bodyrite"
      active="bodyrite"
      hideSecondItem="hidden"
      hideFirstItem="hidden"
    />

    <Services
      title="COMBINATION BRAZILIAN OR MANUAL LYMPHATIC DRAINAGE & WOOD/MADEROTHERAPY MASSAGE"
      image="../images/3726fc8b-fe4f-4354-b503-377b54aa85fb.webp"
      description={`
        <p>FULL BODY</p>
        </br>
        <p>Time: 1.15 hour</p>
        </br>
<p><strong>Salon :</strong></p>
</br>
<ul style=" list-style: disc;">
<li>€130 Single session</li>
<li>€600 Course of 5</li>
  <li>
€1100 Course of 10</li>
  
  
  
  
</ul></br>
  <p>
    
<strong>Mobile :</strong></p>
</br>
<ul style=" list-style: disc;">
  
  <li>
€180 Single session</li>
  <li>€800 Course of 5</li>
  <li>€1500 Course of 10</li>
  
</ul>


      `}
      pricehome="50€"
      pricesalon=""
      filter="bodyrite"
      active="bodyrite"
      hideSecondItem="hidden"
      hideFirstItem="hidden"
    />

    <Services
      title="BRAZILIAN LYMPHATIC DRAINAGE OR WOOD/MADEROTHERAPY MASSAGE FULL BODY"
      image="../images/694585cb-e53f-41fe-b98e-087cb08c953e.jpeg"
      description={`
        <p>Time: 1 hour</p>
        </br>
        
<p><strong>Salon :</strong></p>
</br>
<ul style=" list-style: disc;">
<li>&euro;110 Single session</li>
<li>&euro;500 Course of 5</li>
<li>&euro;900 Course of 10</li>
  
  
  
  
</ul></br>
  <p>
    
<strong>Home :</strong></p>
</br>
<ul style=" list-style: disc;">
  
  <li>
€150 Single session</li>
  <li>€650 Course of 5</li>
  <li>€1200 Course of 10</li>
  
</ul>


      `}
      pricehome="50€"
      pricesalon=""
      filter="bodyrite"
      active="bodyrite"
      hideSecondItem="hidden"
      hideFirstItem="hidden"
    />

    <Services
      title="LYMPHATIC DRAINAGE FULL FACE"
      image="../images/4d4374fc-47cd-4dc3-8a3c-c28050092a1f.webp"
      description={`
          <p>Time: 45 mins</p>
          </br>

  <ul style=" list-style: disc;">
    <li>Stimulates the lymphatic system</li>
    <li>Helps reduce puffiness</li>
    <li>Removes toxins</li>
    <li>Improves circulation in the face</li>
    <li>Promotes a clearer, more sculpted appearance</li>
    <li>Enhances skin health</li>
    <li>Leaves complexion looking refreshed and radiant</li>
  </ul>
</br>
  <p><strong>Salon:</strong> €75 per session</p>
  </br>
  <p><strong>Home:</strong> €100 per session</p>


      `}
      pricesalon=""
      filter="bodyrite"
      active="bodyrite"
      hideSecondItem="hidden"
      hideFirstItem="hidden"
    />
  </div>
</div>
