---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import json from "../components/services.json";
import Filter from "../components/Filter.astro";
import "../styles/global.css";

let activeFilter = "all";
---

<Layout
  title="Brows & Lashes in Estepona | Lift, Tint and Define"
  description="Frame your face with expert brow and lash treatments in Estepona. Theopy for shaping and tinting, to lash lifts and extensions, achieve a naturally enhanced and captivating look."
  canonical="https://massageartestepona.com/brows-and-lashes"
/>

<Navbar />

<section class="bg-[#f6f5f1] py-16 px-6 text-center">
  <h1 class="text-3xl font-semibold mb-6 mt-6">
    Expert Brow and Lash Treatments in Estepona
  </h1>
  <p>
    Enhance your natural beauty with professional brow and lash services at
    Massage Art Estepona.
  </p>
  <br />
  <p>
    From precise shaping and tinting to luxurious lash lifts and extensions, our
    treatments are designed to define your features and elevate your look.
    Discover a personalized approach to eye-area aesthetics in the heart of
    Estepona.
  </p>
</section>

<div class="mt-6"></div>
<Filter active="brows" />
<div class="flex flex-wrap justify-center gap-6 px-4">
  <Services
    title="Brow / Lashes Tint Tinte cejas / pestañas"
    image="../images/26083d82-17ab-4711-a11e-390dd7de874a (1).jpeg"
    description={`
      <p>(EN) Our skilled technician will carefully select a shade that complements your hair color tone, giving your brows / lashes a fuller and more pronounced look.</p>
      <p>(ES) Nuestro técnico capacitado selecionará cuidadosamente un tono que complemente el color de su cabello y el tono de su piel, dándole a sus cejas / pestañas una apariencia más completa y pronunciada.</p>
`}
    pricehome="20€"
    pricesalon=""
    filter="brows"
    active="brows"
    hideSecondItem="hidden"
    hideFirstItem="hidden"
  />

  <Services
    title="Brow shaping - waxing - threading Moldeado de cejas - cera - hilo"
    image="../images/106a16df-017b-44a2-8538-197a33a26438.jpeg"
    description={`
      <p>(EN)  Say goodbye to unwanted stray hairs and achieve smooth, well-groomed brows with our brow waxing and threading services.</p>
      <p>(ES)  Dígale adiós a los vellos sueltos no desea y consiga unas cejas suaves y bien cuidadas con nuestros servicios de depilación con hilo.</p>
`}
    pricehome="20€"
    pricesalon=""
    filter="brows"
    active="brows"
    hideSecondItem="hidden"
    hideFirstItem="hidden"
  />

  <Services
    title="LASH LIFT"
    image="../images/b9c16e04-726c-4e8b-a233-c2e6e915e599.webp"
    description={`
      <p>(EN) A lash lift curls your lash from base to tip so that you can see the full length.
.</p>
      <p>(ES) Un lifting de pestañas riza las pestaña desde 
      la base hasta la punta para que puedo ver toda su longitud..</p>
`}
    pricehome="20€"
    pricesalon=""
    filter="brows"
    active="brows"
    hideSecondItem="hidden"
    hideFirstItem="hidden"
  />
</div>
<a
  href="https://wa.me/34613945010"
  class="fixed bottom-6 right-6 z-50 bg-green-500 hover:bg-green-600
    text-white p-4 rounded-full shadow-lg"
  target="_blank"
  rel="noopener
    noreferrer"
  aria-label="Chat on WhatsApp"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="white"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path
      d="M20.52 3.48A11.94 11.94 0 0012 0C5.37 0 .01 5.37.01 12c0 2.11.55 4.17 1.6 5.99L0 24l6.26-1.64A11.94 11.94 0 0012 24c6.63 0 12-5.37 12-12 0-3.19-1.24-6.2-3.48-8.52zM12 22c-1.93 0-3.81-.5-5.47-1.45l-.39-.23-3.71.97.99-3.61-.25-.37A9.94 9.94 0 012 12c0-5.52 4.48-10 10-10s10 4.48 10 10-4.48 10-10 10zm5.13-7.47c-.28-.14-1.65-.81-1.9-.9-.25-.09-.43-.14-.61.14-.18.28-.7.9-.86 1.08-.16.18-.32.2-.6.07-.28-.14-1.18-.44-2.25-1.4-.83-.74-1.39-1.65-1.55-1.93-.16-.28-.02-.43.12-.57.13-.13.28-.32.42-.48.14-.16.18-.28.28-.46.09-.18.05-.34-.02-.48-.07-.14-.61-1.47-.84-2.01-.22-.53-.45-.46-.61-.47h-.52c-.18 0-.48.07-.73.34-.25.28-.96.94-.96 2.3s.99 2.66 1.13 2.85c.14.18 1.95 2.98 4.73 4.18.66.28 1.17.45 1.57.58.66.21 1.26.18 1.74.11.53-.08 1.65-.67 1.88-1.32.23-.65.23-1.21.16-1.32-.07-.11-.25-.18-.53-.32z"
    ></path>
  </svg>
</a>
<Footer />
