---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import json from "../components/services.json";
import Filter from "../components/Filter.astro";
import "../styles/global.css";

let activeFilter = "all";
---

<Layout
  title="Couples Massage in Estepona | Shared Relaxation and Wellness"
  description="Discover couples massage in Estepona with expert therapists. Perfect for romantic escapes, anniversaries, or shared self-care moments."
  canonical="https://massageartestepona.com/couples-package/"
/>
<Navbar />

<section class="bg-[#f6f5f1] py-16 px-6 text-center">
  <h1 class="text-3xl font-semibold mb-6 mt-6">
    Couples Massage in Estepona, Relax Together
  </h1>

  <p class="mt-4 text-gray-700">
    Reconnect and unwind with our professional massage therapists in Estepona.
    Enjoy side‑by‑side treatments tailored to your needs, guided by experienced
    therapists who specialize in relaxation, stress relief, and holistic
    wellness.
  </p>

  <div class="mt-6"></div>
</section>
<Filter active="couplespackage" />
<div class="flex flex-wrap justify-center gap-6 px-4">
  <Services
    title={`✨COUPLE MOBILE MASSAGE & SPA✨`}
    }
    image="../images/b2517bdc-381d-452f-8c32-e75074244e45.webp"
    description={`
      <p>We all know how easily routine can take over in a relationship. Once it settles in, it’s not always easy to reconnect or step out of the everyday spiral.</p>

<p>That’s why we’ve created something special – an experience designed to surprise you and bring you closer.</p>`}
    hideFirstItem="hidden"
    pricesalon=""
    filter="couplespackage"
    active="couplespackage"
    hideSecondItem="hidden"
  />

  <Services
    title={`PACK 1`}
    }
    image="../images/9224ba73-4175-4206-9953-c7ab285d6ab2.webp"
    description={`
     
     
      <ul>
 <li>Goddess Bath</li>
<li>⁠Body exfoliation + Scented Balm</li>
<li>⁠Luxury Manicure & Pedicure</li> </ul>`}
    hideFirstItem="hidden"
    pricesalon=""
    filter="couplespackage"
    active="couplespackage"
    hideSecondItem="hidden"
  />

  <Services
    title={`PACK 2`}
    }
    image="../images/3b783b66-b1cb-4b37-8b81-9307efd543bf.jpeg"
    description={`
   
   
    <ul>
<li>Foot Spa</li>
<li>Relaxing or deep tissue massage</li>
<li>Facial treatment</li> </ul>`}
    hideFirstItem="hidden"
    pricesalon=""
    filter="couplespackage"
    active="couplespackage"
    hideSecondItem="hidden"
  />
</div>

<Services
  title={`PACK 3`}
  }
  image="../images/997a178e-d0e7-405a-b0d1-0a58196e3bac.jpeg"
  description={`


<ul>
<li>Duo Massage</li>

<li>Couple facial treatment</li> </ul>`}
  hideFirstItem="hidden"
  pricesalon=""
  filter="couplespackage"
  active="couplespackage"
  hideSecondItem="hidden"
/>

<Services
  title={`PACK 4`}
  }
  image="../images/4fa05887-4dd2-48b4-be65-92867d86e031.jpeg"
  description={`


<ul>
<li>Waxing</li>

<li>Luxury manicure & pedicure</li>
<li>Back Treatment</li>
<li>Back or full body massage</li>  </ul>`}
  hideFirstItem="hidden"
  pricesalon=""
  filter="couplespackage"
  active="couplespackage"
  hideSecondItem="hidden"
/>

<a
  href="https://wa.me/34613945010"
  class="fixed bottom-6 right-6 z-50 bg-green-500 hover:bg-green-600
    text-white p-4 rounded-full shadow-lg"
  target="_blank"
  rel="noopener
    noreferrer"
  aria-label="Chat on WhatsApp"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="white"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path
      d="M20.52 3.48A11.94 11.94 0 0012 0C5.37 0 .01 5.37.01 12c0 2.11.55 4.17 1.6 5.99L0 24l6.26-1.64A11.94 11.94 0 0012 24c6.63 0 12-5.37 12-12 0-3.19-1.24-6.2-3.48-8.52zM12 22c-1.93 0-3.81-.5-5.47-1.45l-.39-.23-3.71.97.99-3.61-.25-.37A9.94 9.94 0 012 12c0-5.52 4.48-10 10-10s10 4.48 10 10-4.48 10-10 10zm5.13-7.47c-.28-.14-1.65-.81-1.9-.9-.25-.09-.43-.14-.61.14-.18.28-.7.9-.86 1.08-.16.18-.32.2-.6.07-.28-.14-1.18-.44-2.25-1.4-.83-.74-1.39-1.65-1.55-1.93-.16-.28-.02-.43.12-.57.13-.13.28-.32.42-.48.14-.16.18-.28.28-.46.09-.18.05-.34-.02-.48-.07-.14-.61-1.47-.84-2.01-.22-.53-.45-.46-.61-.47h-.52c-.18 0-.48.07-.73.34-.25.28-.96.94-.96 2.3s.99 2.66 1.13 2.85c.14.18 1.95 2.98 4.73 4.18.66.28 1.17.45 1.57.58.66.21 1.26.18 1.74.11.53-.08 1.65-.67 1.88-1.32.23-.65.23-1.21.16-1.32-.07-.11-.25-.18-.53-.32z"
    ></path>
  </svg>
</a>
<Footer />
