---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import ServiceItems from "../components/ServiceItems.astro";
import Aboutme from "../components/Aboutme.astro";
import Testimonal from "../components/Testimonal.astro";
---

<Layout
  title="Massage Art Estepona | Beauty & Wellness with Heart"
  description="Discover luxury massage and beauty treatments in Estepona and Marbella. Mobile and studio services tailored to your wellbeing."
  canonical="https://massageartestepona.com/"
  style="background-color: rgb(246, 245, 241);"
/>
<Navbar style="background-color: rgb(246, 245, 241);" />
<Hero style="background-color: rgb(246, 245, 241);" />
<h2 class="text-3xl font-semibold mb-6 service-title">Services</h2>
<div
  class="mb-32 gap-y-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-items-center"
  style="background-color: rgb(246, 245, 241);"
>
  <ServiceItems
    image="../images/7ff5db47-0fd9-4c8c-8c93-b4640ab5ce8b.webp"
    title="Massage"
    url="/massage"
  />
  <ServiceItems
    image="../images/IMG_4794.webp"
    title="Ritual Spa"
    url="/ritual-spa"
  />
  <ServiceItems
    image="../images/IMG_4786.webp"
    title="Manicure and Pedicure"
    url="/manicure-and-pedicure"
  />

  <ServiceItems
    image="../images/a2560888-de37-4bd4-9acc-3b6a41843fc7.webp"
    title="Brows and Lashes"
    url="/brows-and-lashes"
  />

  <ServiceItems
    image="../images/b8e994d8-cea3-453b-9205-5036224d0b82.jpeg"
    title="Waxing"
    url="/waxing"
  />
  <ServiceItems
    image="../images/eb9b1c4d-f003-46e8-a3c5-60b2c951dce2.webp"
    title="permanent Makeup"
    url="/permanent-makeup"
  />

  <ServiceItems
    image="../images/b2517bdc-381d-452f-8c32-e75074244e45.webp"
    title="Couple Package"
    url="/couples-package"
  />
</div>
<h2 class="text-3xl font-semibold mb-6">About Me</h2>
<Aboutme style="background-color: rgb(246, 245, 241);" />
<h2 class="text-3xl font-semibold mb-6">Customer Reviews</h2>
<Testimonal />

<ContactForm />
<a
  href="https://wa.me/34613945010"
  class="fixed bottom-6 right-6 z-50 bg-green-500 hover:bg-green-600
    text-white p-4 rounded-full shadow-lg"
  target="_blank"
  rel="noopener
    noreferrer"
  aria-label="Chat on WhatsApp"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="white"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path
      d="M20.52 3.48A11.94 11.94 0 0012 0C5.37 0 .01 5.37.01 12c0 2.11.55 4.17 1.6 5.99L0 24l6.26-1.64A11.94 11.94 0 0012 24c6.63 0 12-5.37 12-12 0-3.19-1.24-6.2-3.48-8.52zM12 22c-1.93 0-3.81-.5-5.47-1.45l-.39-.23-3.71.97.99-3.61-.25-.37A9.94 9.94 0 012 12c0-5.52 4.48-10 10-10s10 4.48 10 10-4.48 10-10 10zm5.13-7.47c-.28-.14-1.65-.81-1.9-.9-.25-.09-.43-.14-.61.14-.18.28-.7.9-.86 1.08-.16.18-.32.2-.6.07-.28-.14-1.18-.44-2.25-1.4-.83-.74-1.39-1.65-1.55-1.93-.16-.28-.02-.43.12-.57.13-.13.28-.32.42-.48.14-.16.18-.28.28-.46.09-.18.05-.34-.02-.48-.07-.14-.61-1.47-.84-2.01-.22-.53-.45-.46-.61-.47h-.52c-.18 0-.48.07-.73.34-.25.28-.96.94-.96 2.3s.99 2.66 1.13 2.85c.14.18 1.95 2.98 4.73 4.18.66.28 1.17.45 1.57.58.66.21 1.26.18 1.74.11.53-.08 1.65-.67 1.88-1.32.23-.65.23-1.21.16-1.32-.07-.11-.25-.18-.53-.32z"
    ></path>
  </svg>
</a>
<Footer />

<style>
  .service-title {
    font-family: "Tenor Sans", "Tenor Sans Placeholder", sans-serif;

    letter-spacing: 0.5rem;
    font-weight: 200;
  }
</style>
<script type="module">
  import Swiper from "swiper";

  const swiper = new Swiper(".mySwiper", {
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    effect: "fade",
  });
</script>
