---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import json from "../components/services.json";
import Filter from "../components/Filter.astro";
import "../styles/global.css";

let activeFilter = "all";
---

<Layout>
  <Navbar />

  <section class="bg-[#f6f5f1] py-16 px-6 text-center">
    <h2
      class="mt-10 text-3xl font-semibold tracking-wide text-gray-800 uppercase font-tenor"
    >
      OUR SERVICES
    </h2>
    <p class="mt-4 text-lg text-gray-600 italic">
      A renewing experience awaits you.
    </p>
  </section>
  <Filter />
  <div class="flex flex-wrap justify-center gap-6 px-4">
    <Services
      title="Luxury pedicure Spa"
      image="../images/fdedc723-f4f7-473c-9cb3-760d04a2e0a3.webp"
      description="An exquisite spa ritual for the feet. Begin with a soothing aromatic soak, followed by meticulous nail and cuticle care, gentle exfoliation, and a deeply nourishing balm. Conclude with a rejuvenating massage."
      pricehome=""
      pricesalon=""
      filter="manicure"
      hideFirstItem="hidden"
      hideSecondItem="hidden"
    />

    <Services
      title=" Luxury manicure Spa"
      image="../images/523a7481-6176-44b2-8996-28bf35c93af7.webp"
      description="A soothing soak, meticulous nail and cuticle care, gentle exfoliation, and hydrating massage - nourishing gloves mask."
      pricehome=""
      pricesalon=""
      filter="manicure"
      hideFirstItem="hidden"
      hideSecondItem="hidden"
    />

    <Services
      title=" NAILS"
      image="../images/b8ebec07-fc37-4aae-aa18-6e51e3acd1a8.webp"
      description={`
<ul class="list-disc list-inside mt-2 text-left">
  <li>Shellac gel polish</li>
  <li>Classic Nail Polish</li>
  <li>Removal</li>
 
</ul>`}
      pricehome=""
      pricesalon=""
      filter="manicure"
      hideFirstItem="hidden"
      hideSecondItem="hidden"
    />

    <Services
      title=" CRACKED HEELS RESCUE"
      image="../images/80032c8f-5072-4318-bcdd-e56a61106850.webp"
      description="A premium foot treatment that gently dissolves hardened skin. Feet are left velvety smooth, deeply hydrated, and beautifully renewed — the perfect remedy for dry, rough heels."
      pricehome=""
      pricesalon=""
      filter="manicure"
      hideFirstItem="hidden"
      hideSecondItem="hidden"
    />
  </div>

  <Footer />
</Layout>
