---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import json from "../components/services.json";
import Filter from "../components/Filter.astro";
import "../styles/global.css";

let activeFilter = "all";
---

<Layout
  title="Ritual Spa Experiences in Estepona | Massage Art"
  description=" Indulge in luxury spa rituals in Estepona. Rejuvenate with holistic treatments that blend massage, aromatherapy, and wellness."
  canonical="https://massageartestepona.com/ritual-spa"
>
  <Navbar />

  <section class="bg-[#f6f5f1] py-16 px-6 text-center">
    <h2
      class="mt-10 text-3xl font-semibold tracking-wide text-gray-800 uppercase font-tenor"
    >
      OUR SERVICES
    </h2>
    <p class="mt-4 text-lg text-gray-600 italic">
      A renewing experience awaits you.
    </p>
  </section>
  <Filter active="ritual" />
  <div class="flex flex-wrap justify-center gap-6 px-4">
    <Services
      title="Velvet Skin Ritual"
      image="../images/3dc5ae26-2dd3-4125-9c9c-1cbade749899.jpeg"
      description={`<p>Recognize your body as the most precious possession you have—and you cannot escape it. The ancient royals understood this well: they honored their bodies through rituals of cleansing and care, as a sacred gesture of gratitude—a simple, yet profound 'thank you.'</p>
  <ul class="list-disc list-inside mt-2 text-left">
    <li>Full body exfoliation</li>
    <li>Face soft peeling</li>
    <li>Face & Neck Glow Mask</li>
    <li>Rich body butter effleurage</li>
  </ul>`}
      pricehome="90 min · 150€"
      filter="ritual"
      hideSecondItem="hidden"
    />

    <Services
      title="IMPERIAL GRACE"
      image="../images/3c0f19a7-38da-4acf-ab22-d070192c534f.jpeg"
      description={`<p>
  Beauty ritual has nothing to do with "beauty"—it's about connection with yourself by consciously caring for your body. The beauty resides in the act and intention. I call it "Grace."
</p>
<ul class="list-disc list-inside mt-2 text-left">
  <li>Velvet body scrub</li>
  <li>40-minute aromatherapy massage</li>
  <li>Facial deep moisture or Purity treatment</li>
  <li>Body wrap</li>
</ul>`}
      pricehome="120 min · 220€"
      filter="ritual"
      hideSecondItem="hidden"
    />

    <Services
      title="SILKY TOUCH"
      image="../images/66290df9-6298-4597-82c2-e0183227cd1f.jpeg"
      description="Full treatment manicure and pedicure spa. This treatment begins with a warm aromatic soak, cleansing, gentle exfoliation, and cuticle care. Nails are meticulously shaped, buffed, and polished to perfection, while a silky massage with nourishing oils leaves hands and feet feeling velvety smooth and light. "
      pricehome="105 min · 170€"
      filter="ritual"
      hideSecondItem="hidden"
    />

    <Services
      title="BACK TREATMENT"
      image="../images/fbb4f6f3-0f2d-4c7b-8479-0657ef956b24_1.jpeg"
      description={`<p>
  you surely remember that stunning woman with the backless dress, her skin smooth, glowing, and radiant.
We’ve all seen her at least once!"
</p>
<p>We’ve all seen her at least once!</p>
<ul class="list-disc list-inside mt-2 text-left">
  <li>30 minutes of warm candle massage</li>
  <li>Deep exfoliation with black soap & Kessa glove, creamy scrub, or nourishing oils</li>
  <li>A purifying or deep hydration mask</li>
 
</ul>`}
      pricehome="105 min · 170€"
      filter="ritual"
      hideSecondItem="hidden"
    />
  </div><a
    href="https://wa.me/34613945010"
    class="fixed bottom-6 right-6 z-50 bg-green-500 hover:bg-green-600
    text-white p-4 rounded-full shadow-lg"
    target="_blank"
    rel="noopener
    noreferrer"
    aria-label="Chat on WhatsApp"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        d="M20.52 3.48A11.94 11.94 0 0012 0C5.37 0 .01 5.37.01 12c0 2.11.55 4.17 1.6 5.99L0 24l6.26-1.64A11.94 11.94 0 0012 24c6.63 0 12-5.37 12-12 0-3.19-1.24-6.2-3.48-8.52zM12 22c-1.93 0-3.81-.5-5.47-1.45l-.39-.23-3.71.97.99-3.61-.25-.37A9.94 9.94 0 012 12c0-5.52 4.48-10 10-10s10 4.48 10 10-4.48 10-10 10zm5.13-7.47c-.28-.14-1.65-.81-1.9-.9-.25-.09-.43-.14-.61.14-.18.28-.7.9-.86 1.08-.16.18-.32.2-.6.07-.28-.14-1.18-.44-2.25-1.4-.83-.74-1.39-1.65-1.55-1.93-.16-.28-.02-.43.12-.57.13-.13.28-.32.42-.48.14-.16.18-.28.28-.46.09-.18.05-.34-.02-.48-.07-.14-.61-1.47-.84-2.01-.22-.53-.45-.46-.61-.47h-.52c-.18 0-.48.07-.73.34-.25.28-.96.94-.96 2.3s.99 2.66 1.13 2.85c.14.18 1.95 2.98 4.73 4.18.66.28 1.17.45 1.57.58.66.21 1.26.18 1.74.11.53-.08 1.65-.67 1.88-1.32.23-.65.23-1.21.16-1.32-.07-.11-.25-.18-.53-.32z"
      ></path>
    </svg>
  </a>

  <Footer />
</Layout>
