<section class="bg-gray-50 dark:bg-gray-800 py-16 lg:py-24">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex flex-col md:flex-row items-center md:items-start gap-12">
      <!-- Text Block -->
      <div class="md:w-1/2">
        <p
          class="max-w-2xl text-xl leading-relaxed text-gray-600 dark:text-gray-300"
        >
          Hi , I’m Jenny Benasolo Beautician, Massage Therapist and Brow Expert
          with more than 17 years of experience helping people feel unique,
          confident and recentered.

          <br /><br />At Massage Art Estepona, we bring innovative, heart-led
          massage and beauty experiences directly to you — whether in the
          comfort of your home, villa, hotel, or at our welcoming Studio in
          Estepona and Marbella. Every treatment is delivered with a level of
          service and excellence that goes beyond expectation and imagination.
          Each moment is infused with thoughtfulness, purpose, and an unwavering
          commitment to your wellbeing and transformation.

          <br /><br />Our mission is to meet you wherever you are on your
          self-care and wellness journey and guide you to where you want to be —
          helping you feel relaxed, radiant, and restored in both body and mind.
          <br /><br />
          Beauty & Wellness with Love — where service is an art, and excellence is
          our legacy.
        </p>
      </div>

      <!-- Image Block -->
      <div class="md:w-1/2">
        <img
          src="../images/IMG_4778.webp"
          alt="Massage Art Estepona"
          class="w-full max-w-md mx-auto md:mx-0 rounded-lg shadow-md"
        />
      </div>
    </div>
  </div>
</section>

<style>
  p {
    font-family: "tenor sans", "tenor sans placeholder", sans-serif;
  }
</style>
