---
const { active } = Astro.props;
---

<div class="bg-blue-50 py-6 sm:py-16 md:py-20 text-center">
  <div class="flex flex-wrap justify-center gap-4 my-6 sm:my-8 massage-filter">
    <a
      href="/massage"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "massage"
          ? "contact-cta "
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Massage
    </a>

    <a
      href="/ritual-spa"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "ritual"
          ? "contact-cta"
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Ritual Spa
    </a>

    <a
      href="/brows-and-lashes"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "brows"
          ? "contact-cta"
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Brows and Lashes
    </a>

    <a
      href="/manicure-and-pedicure"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "manicure"
          ? "contact-cta "
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Manicure & Pedicure
    </a>

    <a
      href="/waxing"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "waxing"
          ? "contact-cta "
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Waxing
    </a>

    <a
      href="/permanent-makeup"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "permanentmakeup"
          ? "contact-cta "
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Permanent Makeup
    </a>

    <a
      href="/couples-package"
      class={`px-4 py-2 border rounded transition uppercase ${
        active === "couplespackage"
          ? "contact-cta "
          : "bg-white hover:bg-blue-100 text-gray-800"
      }`}
    >
      Couple's Package
    </a>
  </div>
</div>

<style>
  a {
    font-family: "Tenor Sans", "Tenor Sans Placeholder", sans-serif;
    letter-spacing: 0.2rem;
  }
</style>
