<!-- CSS for toggling panels -->
<div class="bg-blue-50 py-10 sm:py-16 md:py-20 text-center">
  <!-- Labels -->
  <div class="flex flex-wrap justify-center gap-4 my-6 sm:my-8">
    <a
      href="/massage"
      id="massage"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100 transition"
      >Massage</a
    >
    <a
      href="/ritual"
      id="ritual"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100 transition"
      >Ritual</a
    >
    <a
      href="/brows"
      id="brows"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100 transition"
      >Brows</a
    >
    <a
      href="/manicure"
      id="manicure"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100 transition"
      >Manicure & Pedicure</a
    >
    <a
      href="/waxing"
      id="waxing"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100 transition"
      >waxing</a
    >
  </div>
</div>
