---
import "../styles/global.css";
---

<footer class="mt-20 footer-section text-gray-800 py-8 px-4">
  <div
    class="max-w-4xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <!-- Contact Info -->
    <div class="text-center md:text-left">
      <p class="font-semibold text-lg">Massage Art Estepona</p>
      <a
        href="https://wa.me/34613945010"
        target="_blank"
        class="text-green-600 hover:underline"
      >
        📞 +34 613 94 50 10
      </a>
      <p>📧 infomassageartestepona@gmail.com</p>
    </div>

    <!-- Social Icons -->
    <div class="flex gap-6 text-2xl">
      <a
        href="https://www.facebook.com/share/1GGtd3Tnos/?mibextid=wwXIfr"
        target="_blank"
        class="hover:text-blue-600"
      >
        <img src="/images/facebook.svg" alt="Facebook" class="w-6 h-6" />
      </a>
      <a
        href="https://www.instagram.com/massageartestepona"
        target="_blank"
        class="hover:text-pink-500"
      >
        <img src="/images/instagram.svg" alt="Facebook" class="w-6 h-6" />
      </a>
    </div>
  </div>
</footer>
<style>
  .footer-section {
    background: #fff;
  }
</style>
