---
import "@splidejs/splide/css";
import { Splide, SplideSlide } from "astro-splide";
---

<Splide
  class="not-content"
  options={{
    type: "loop",
    autoplay: true,
    interval: 5000,
    pauseOnHover: false,
  }}
>
  <SplideSlide>
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 w-full h-full object-cover z-0"
    >
      <source src="/videos/IMG_0871-compressed.mp4" type="video/mp4" />
    </video>
    <div class="overlay absolute inset-0 z-10"></div>

    <!-- Text Content -->
    <div
      class="absolute inset-0 z-20 flex flex-col items-center justify-center text-center px-6"
    >
      <h1
        class="text-white text-4xl md:text-6xl font-serif mb-4"
        data-aos="zoom-out-right"
        data-aos-duration="10000"
      >
        <!-- Restore Your Body. Reconnect With Your Soul. --> Wellness at your pace
        in your spare.
      </h1>
      <p
        class="text-white text-lg md:text-xl mb-6 max-w-2xl"
        data-aos="zoom-out-left"
        data-aos-duration="10000"
      >
        <!-- Luxury wellness retreats, personal training, and holistic beauty care in a
        serene coastal setting. -->
        Massage & Spa at Your Doorstep, that's how Luxary supposed To Be
      </p>
      <a
        href="/massaage"
        class="bg-white text-gray-800 px-6 py-3 rounded hover:bg-gray-200 transition"
      >
        Explore Services
      </a>
    </div>
  </SplideSlide>
  <SplideSlide>
    <img src="/images/25174382-766d-43d4-8833-2a3ef978ba91.jpeg" alt="" />
    <div class="overlay absolute inset-0 z-10"></div>

    <!-- Text Content -->
    <div
      class="absolute inset-0 z-20 flex flex-col items-center justify-center text-center px-6"
    >
      <h1
        class="text-white text-4xl md:text-6xl font-serif mb-4"
        data-aos="zoom-out-right"
        data-aos-duration="10000"
      >
        <!-- Restore Your Body. Reconnect With Your Soul. --> Wellness at your pace
        in your spare.
      </h1>
      <p
        class="text-white text-lg md:text-xl mb-6 max-w-2xl"
        data-aos="zoom-out-left"
        data-aos-duration="10000"
      >
        <!-- Luxury wellness retreats, personal training, and holistic beauty care in a
        serene coastal setting. -->
        Massage & Spa at Your Doorstep, that's how Luxary supposed To Be
      </p>
      <a
        href="/massage"
        class="bg-white text-gray-800 px-6 py-3 rounded hover:bg-gray-200 transition"
      >
        Explore Services
      </a>
    </div>
  </SplideSlide>
  <SplideSlide>
    <img src="/images/IMG_4794.webp" alt="" />
    <div class="overlay absolute inset-0 z-10"></div>

    <!-- Text Content -->
    <div
      class="absolute inset-0 z-20 flex flex-col items-center justify-center text-center px-6"
    >
      <h1
        class="text-white text-4xl md:text-6xl font-serif mb-4"
        data-aos="zoom-out-right"
        data-aos-duration="10000"
      >
        <!-- Restore Your Body. Reconnect With Your Soul. --> Wellness at your pace
        in your spare.
      </h1>
      <p
        class="text-white text-lg md:text-xl mb-6 max-w-2xl"
        data-aos="zoom-out-left"
        data-aos-duration="10000"
      >
        <!-- Luxury wellness retreats, personal training, and holistic beauty care in a
        serene coastal setting. -->
        Massage & Spa at Your Doorstep, that's how Luxary supposed To Be
      </p>
      <a
        href="/massage"
        class="bg-white text-gray-800 px-6 py-3 rounded hover:bg-gray-200 transition"
      >
        Explore Services
      </a>
    </div>
  </SplideSlide>
</Splide>

<style>
  .overlay {
    background: rgba(0, 0, 0, 0.4);
  }
</style>
