<section class="lg:flex lg:justify-around lg:max-w-[1000px] lg:mx-auto bg-blue-50 py-20 text-center hero-section flex-col md:flex md:flex-row items-center">
    <div class="hero-section-left">
    <img src="../public/images/IMG_4778.webp" alt="MedSpa Logo" class="w-full h-auto mb-4 hero-image"/>
    </div>
    <div class="hero-section-right">
    <h1 class="text-4xl font-bold mb-4">Welcome to MedSpa</h1>
  <p class="text-lg mb-6">Relax. Rejuvenate. Restore.</p>
  <a href="#contact" class="bg-blue-600 text-white px-6 py-2 rounded">Book Now</a>
  </div>
</section>

<style>

.hero-image {
      height: 413px;
    object-fit: cover;
}


</style>
