<section
  style="background-color: rgb(246, 245, 241);"
  class="lg:mb-20 lg:flex lg:justify-around lg:max-w-[1000px] lg:mx-auto bg-blue-50 text-center hero-section flex-col md:flex md:flex-row items-center"
>
  <div class="hero-section-left">
    <img
      src="../images/IMG_4778.webp"
      alt="MedSpa Logo"
      class="w-full h-auto mb-4 hero-image"
    />
  </div>
  <div
    class="pt-20 pb-10 hero-section-right"
    data-aos="fade-right"
    data-aos-delay="100"
  >
    <h1 class="header-title text-4xl mb-4 block">
      Welcome to Massage Art Estepona
    </h1>
    <p class="text-lg mb-6 typing-text">Wellness at your pace in your spare.</p>
    <a href="#contact" class="bg-blue-600 text-white px-6 py-2 rounded"
      >Book Now</a
    >
  </div>
</section>

<style>
  .header-title {
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
  }
  section {
    font-family: "Tenor Sans", "Tenor Sans Placeholder", sans-serif;
  }

  .hero-image {
    height: 500px;
    width: 600px;
    object-fit: cover;
  }
</style>
