<section class="lg:flex lg:justify-around lg:max-w-[1000px] lg:mx-auto bg-blue-50 py-20 text-center hero-section flex-col md:flex md:flex-row items-center h-screen">
    <div class="hero-section-left">
    <img src="../public/images/3dc5ae26-2dd3-4125-9c9c-1cbade749899.jpeg" alt="MedSpa Logo" class="w-full h-auto mb-4"/>
    </div>
    <div class="hero-section-right">
    <h1 class="text-4xl font-bold mb-4">Welcome to MedSpa</h1>
  <p class="text-lg mb-6">Relax. Rejuvenate. Restore.</p>
  <a href="#contact" class="bg-blue-600 text-white px-6 py-2 rounded">Book Now</a>
  </div>
</section>

<style>




</style>
