---
const { image, title, url } = Astro.props;
---

<!-- Card -->
<div
  style="background-color: rgb(246, 245, 241);"
  class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] relative"
>
  <div class="relative h-64 rounded-lg shadow-lg">
    <a href={url}>
      <img src={image} alt="Card Image" class="object-cover w-full h-full" />
      <h2
        data-aos="fade-up"
        data-aos-delay="2000"
        class="text-2xl md:text-3xl lg:text-xl font-semibold text-black font-class"
      >
        {title}
        <h2></h2>
      </h2>
    </a>
  </div>
</div>
<style>
  .font-class {
    font-family: "Tenor Sans", "Tenor Sans Placeholder", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
</style>
