---
const { children } = Astro.props;
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MedSpa</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script type="module" src="/src/scripts/showPanel.js"></script><script
      src="https://unpkg.com/taos@latest/dist/taos.js"></script></head
  >

  <body
    class="bg-white text-gray-800 scroll-pt-[80px] max-w-screen-lg mx-auto px-4"
    style="background-color: rgb(246, 245, 241);"
  >
    <slot />

    <script>
      import AOS from "aos";
      AOS.init();
    </script>

    <style></style>
  </body>
</html>
